<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
	</head>
	<body>
        <div th:replace="~{/layout/fragments :: pageHeader('직원 목록 페이지')}"></div>
        
        <main>
            <table class= "table">
                <thead>
                    <tr>
                        <th>사번</th>
                        <th>이름</th>
                        <th>전화번호</th>
                        <th>직업</th>
                        <th>부서</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="emp : ${employees}" th:object="${emp}">
                        <td>
                            <a th:href="@{/employee/details/{employeeId}(employeeId=*{employeeId})}" th:text="*{employeeId}"></a>
                        </td>
                        <td>
                            <a th:href="@{/employee/details/{employeeId}(employeeId=*{employeeId})}" th:text="*{employeeName}"></a>
                        </td>
                        <td th:text="*{phoneNumber}"></td>
                        <td>
                            <a th:text="*{jobTitle}"></a>
                        </td>
                        <td th:text="*{departmentName}"></td>
                    </tr>
                </tbody>
            </table>
        </main>
		<th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
	</body>
</html>